* {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", "Inter", sans-serif;
  color: #1a2942;
  background: #ffffff;
}

/* Nav scroll */
.nav-scrolled {
  box-shadow: 0 2px 20px rgba(10, 22, 40, 0.08);
}

/* Stat item */
.stat-item {
  border-right: 1px solid #e2eaf4;
}

.stat-item:last-child {
  border-right: none;
}

.cta-bg {
  background: linear-gradient(135deg, #0f2044 0%, #1e56a0 55%, #2271c3 100%);
}

/* Footer */
.footer-bg {
  background: linear-gradient(180deg, #0a1628 0%, #0f2044 100%);
}

/* Feature icon wrapper */
.feat-icon {
  background: linear-gradient(135deg, #deeeff 0%, #b3d4f5 100%);
}

/* Navbar mobile toggle */
#mobile-menu {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s ease,
    padding 0.3s ease;
  padding-top: 0;
  padding-bottom: 0;
}

#mobile-menu.open {
  max-height: 400px;
  opacity: 1;
  padding-bottom: 1rem;
}

/* animasi burger button */
#hamburger-btn i {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
}

#hamburger-btn.is-open i {
  transform: rotate(90deg);
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Pill active */
.pill-active {
  background: #1e56a0;
  color: #fff;
}

.pill-inactive {
  background: #f0f7ff;
  color: #1e4080;
}

/* Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.6s ease forwards;
}

.delay-1 {
  animation-delay: 0.1s;
  opacity: 0;
}

.delay-2 {
  animation-delay: 0.25s;
  opacity: 0;
}

.delay-3 {
  animation-delay: 0.4s;
  opacity: 0;
}

/* Search bar hero */
.search-bar-hero {
  max-width: 100%;
  margin: 0 auto;
}

/* Hero image grid */
.hero-image-grid {
  position: relative;
}

/* Responsive */
@media (max-width: 1023px) {
  .hero-image-grid {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 639px) {
  .search-bar-hero {
    padding: 1rem;
    
  
  }
}

/* untuk samsung */
@media (max-width: 360px) {
  section#hero>div {
    padding-top: 8px;
  }

  section#hero>div>.flex {
    gap: 0;
  }
}